$base-bg-color: #F8F8F8;
$small-font-color: #666666;
$light-gray: #999999;
$bottom-line: #DCDCE1;
$common-title: #E7E7E7;
$theme-color: #366cb3;
$nav-color: #287ace;
$red-button: #F41E13;
$font-red: #DE4A3C;
$bg-gray: #F2F2F2